<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Weihang Ren, Zhongyu Zhang" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
          font-family: Arial;
          margin: 0;
        }
        .header {
          padding: 60px;
          text-align: center;
          background: #1abc9c;
          color: white;
          font-size: 30px;
        }
        .content {padding:20px;text-align:center;}
    </style>
    <title>Sightings List</title>
  </head>
  <body>
    <div class="header">
      <span style='font-size:80px;'>&#128063;</span>
      <h1>Squirrel Data</h1>
    </div>
    <ul>
      <li><span><font size="5">Click on a Unique Squirrel ID to UPDATE or DELETE a sighting!</font></span></li>
      <li><a href="{% url 'add' %}"><span><font size="5">Click to create a new sighting!</font></span></a></li>
      <li><a href="{% url 'stats' %}"><span><font size="5">Click to see some general stats!</font></span></a></li>
    </ul>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
	  <th scope="col" style="vertical-align: middle; text-align: center; white-space: nowrap;">Unique Squirrel ID</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Latitude</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Longitude</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Shift</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Date</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Age</th>
          <th scope="col" style="vertical-align: middle; text-align: center; white-space: nowrap;">Primary Fur Color</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Location</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Specific Location</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Running</th>
          <th scope="col" style="vertical-align: middle; text-align: center;">Chasing</th>
	  <th scope="col" style="vertical-align: middle; text-align: center;">Climbing</th>
	  <th scope="col" style="vertical-align: middle; text-align: center;">Eating</th>
	  <th scope="col" style="vertical-align: middle; text-align: center;">Foraging</th>
 	  <th scope="col" style="vertical-align: middle; text-align: center;">Other Activities</th>
	  <th scope="col" style="vertical-align: middle; text-align: center;">Kuks</th>
	  <th scope="col" style="vertical-align: middle; text-align: center;">Quaas</th>
	  <th scope="col" style="vertical-align: middle; text-align: center;">Moans</th>
	  <th scope="col" style="vertical-align: middle; text-align: center; white-space: nowrap;">Tail Flags</th>
	  <th scope="col" style="vertical-align: middle; text-align: center; white-space: nowrap;">Tail Twitches</th>
	  <th scope="col" style="vertical-align: middle; text-align: center;">Approaches</th>
	  <th scope="col" style="vertical-align: middle; text-align: center;">Indifferent</th>
	  <th scope="col" style="vertical-align: middle; text-align: center; white-space: nowrap;">Runs From</th>
	</tr>
      <tbody>
 	{% if sightings %}
    	  {% for sighting in sightings %}
	    <tr>
    	      <th scope="row"><a href="/sightings/{{ sighting.squirrel_id }}/">{{ sighting.squirrel_id }}</a></th>
    	      <td>{{ sighting.latitude }}</td>
    	      <td>{{ sighting.longitude }}</td>
    	      <td>{{ sighting.shift }}</td>
    	      <td style="white-space: nowrap;">{{ sighting.date }}</td>
    	      <td>{{ sighting.age }}</td>
     	      <td>{{ sighting.color }}</td>
    	      <td style="white-space: nowrap;">{{ sighting.location }}</td>
    	      <td>{{ sighting.specific_location }}</td>
    	      <td>{{ sighting.running }}</td>
    	      <td>{{ sighting.chasing }}</td>
    	      <td>{{ sighting.climbing }}</td>
    	      <td>{{ sighting.eating }}</td>
    	      <td>{{ sighting.foraging }}</td>
    	      <td>{{ sighting.other_activities }}</td>
    	      <td>{{ sighting.kuks }}</td>
    	      <td>{{ sighting.quaas }}</td>
    	      <td>{{ sighting.moans }}</td>
    	      <td>{{ sighting.tail_flags }}</td>
    	      <td>{{ sighting.tail_twitches }}</td>
    	      <td>{{ sighting.approaches }}</td>
    	      <td>{{ sighting.indifferent }}</td>
    	      <td>{{ sighting.runs_from }}</td>
	    </tr>
    	  {% endfor %}
	{% else %}
    	  <tr><td>No squirrels found.</td></tr>
	{% endif %}
      </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
