<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="Weihang Ren, Zhongyu Zhang" >
<title>Statistics</title>
</head>
    <body>
	<h1>Interesting Statistics</h1>
	<li><span>{{adult}} squirrels were adult.</span></li>
	<li><span>{{juvenile}} squirrels were juvenile.</span></li>
	<li><span>{{black}} squirrels' primary fur color were black.</span></li>
	<li><span>{{gray}} squirrels' primary fur color were gray.</span></li>
	<li><span>{{cinnamon}} squirrels' primary fur color were cinnamon.</span></li>
	<li><span>{{approach}} squirrels were approaching when spotted.</span></li>
	<li><span>{{run}} squirrels ran away after being spotted.</span></li>
    </body>
</html>
